.App {
     text-align: center;
     font-family: 'Roboto Condensed', sans-serif;
}

.logo-area, h1, h2 {
     font-family: 'Vollkorn', serif;
}

.App-logo {
     height: 20vmin;
     pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
     .App-logo {
          animation: App-logo-spin infinite 20s linear;
     }
}

.App-header {
     background-color: #282c34;
     min-height: 20vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: calc(10px + 2vmin);
     color: white;
}

.App-link {
     color: red;
}

@keyframes App-logo-spin {
     from {
          transform: rotate(0deg);
     }
     to {
          transform: rotate(360deg);
     }
}



.header {
     background: #373B44;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     transition: all ease-in-out .25s;
}

.header a {
     color: #fff;
     text-decoration: none;
     transition: all ease-in-out .25s;
}

.header a:hover {
     color: #e85555;
}

.main-menu {
     margin-right: 30px;
}

.menu-main-menu {
     clear: both;
     line-height: 1;
     width: 100%;
     // padding-right: 30px;
}

.menu-item {
     display: inline-block;
     text-align: left;
}

li.menu-item {
    list-style-type: none;
}

.menu-item a {
    border-bottom-width: 0;
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 10px;
    transition: all ease-in-out .33s;
}

button, .button, .btn {
     background-color: #e85555;
     border-radius: 50px;
     border-radius: 0.25rem;
     border: none;
     color: #fff;
     cursor: pointer;
     font-size: 12px;
     font-size: 1.2rem;
     font-weight: 500;
     letter-spacing: 0.5px;
     padding: 14px 24px;
     text-transform: uppercase;
     white-space: normal;
     width: auto;
     transition: all ease-in-out .33s;
}

button:hover, .button:hover, .btn:hover {
     background-color: #000;
}

.form-group {
     width: 75%;
}

.form-control {
     display: block;
     width: 94%;
     height: calc(1.5em + 0.75rem + 2px);
     padding: 0.375rem 1rem;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     color: #495057;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid #ced4da;
     border-radius: 0.25rem;
     -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
     transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.search-page-area {
     margin: auto;
     max-width: 800px;
}

#book-title-search {
     display: flex;
     justify-content: space-between;
     justify-content: center;
     align-items: baseline;
}

.results-grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-column-gap: 30px;
     grid-row-gap: 30px;
}

.book-card {
     background: #f5f5f5;
     border-radius: 5px;
     width: 180px;
}

img.cover-image {
     width: 100%;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

h2.book-title {
     font-family: 'Vollkorn', serif;
     font-size: 16px;
     line-height: 1.3;
     padding: 0 8px;
}

.book-meta-area {
     text-align: left;
     padding: 0 8px 8px;
     color: #333;
     font-size: 12px;
}

.book-meta.button-area {
     margin-top: 16px;
     display: flex;
     justify-content: space-evenly;
}

button.read-action {
     background: #fff;
     background: #e85555;
     padding: 4px 8px;
     color: #e85555;
     color: #fff;
     font-size: 24px;
}

button.read-action.already-read {
     background: #fff;
     color: #e85555;
     font-size: 28px;
}

button.read-action:hover {
     background: #000;
}



@media only screen and (min-width: 960px) {

     .single-page {
          margin: 60px 10%;
          max-width: 1200px;
     }

     .modal-dialog {
         max-width: 600px !important;
     }

}

@media only screen and (min-width: 1200px) {

     .single-page {
          margin-left: auto;
          margin-right: auto;
          max-width: 1200px;
     }

}
